@charset "UTF-8";

/** * * @package Maupassant * @author cho * @version 2.0 * @link http://chopstack.com */
/* pure css setting When setting the primary font stack, apply it to the Pure grid units along with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use specific font stacks to ensure the greatest OS/browser compatibility. */
html,
button,
input,
select,
textarea,
.MJXc-TeX-unknown-R,
.pure-g [class *="pure-u"] {
	/* Set your content font stack here: */
	font-family: "PingFangSC-Regular", Helvetica, "Helvetica Neue", "Segoe UI", "Hiragino Sans GB", "Source Han Sans CN", "Microsoft YaHei", "STHeiti", "WenQuanYi Micro Hei", sans-serif !important;
}

body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	color: #444;
	font-family: "TIBch", "Classic Grotesque W01", "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
	font-size: 14px;
}

.body_container {
	display: flex;
	flex-wrap: nowrap;
	/* 单元不允许换行 */
	justify-content: center;
	/* 居中排列 https://developer.mozilla.org/zh-CN/docs/Web/CSS/justify-content */
}

.main_container {
	width: 100%;
	max-width: 768px;
	padding: 20px;
	background-color: #f9f9f9;
	filter: blur(0);
	/*Remove blur filter */
	transition: filter 0.3s;
	/*Add transition to blur filter */
	z-index: 0;
	/* Set lower z-index than sidebar */
	position: relative;
}

.content_container {
	padding: 20px;
}

a,
button.submit {
	color: #6e7173;
	text-decoration: none;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}

a:hover,
a:active {
	color: #444;
}

a:focus {
	outline: auto;
}

.clear {
	clear: both;
}

div {
	box-sizing: border-box;
}

#header {
	padding: 58px 0 0;
	text-align: left;
	border-bottom: 1px solid #ddd;
	position: relative;
}

#header .site-name {
	margin-bottom: 40px;
}

#header .site-name h1 {
	padding: 0;
	margin: 0;
	height: 0;
	overflow: hidden;
}

#header .site-name #logo {
	font: bold 33.9285714286px "Times New Roman", Georgia, Times, sans-serif;
	color: #555;
}

#header .site-name #logo span,
#header .site-name #logo:hover {
	color: #777;
}

#header .site-name .description {
	margin: 0.2em 0 0;
	color: #999;
}

#header #nav-menu {
	margin: 10px 0 -1px;
	padding: 0;
	position: absolute;
	right: 0;
	bottom: 0;
}

#header #nav-menu a {
	display: inline-block;
	padding: 3px 20px 3px;
	line-height: 30px;
	color: #444;
	font-size: 13px;
	border: 1px solid transparent;
}

#header #nav-menu a:hover {
	border-bottom-color: #444;
}

#header #nav-menu a.current {
	border: 1px solid #ddd;
	border-bottom-color: #fff;
}

.sidebar_container {
	right: 0;
	width: 256px;
	max-width: 256px;
	padding: 20px;
	background-color: #f9f9f9;
	z-index: 1;
	visibility: visible;
	transition: all .8s ease;
	opacity: 1;
	height: 100vh;
	max-height: 100vh;
	overflow-y: auto;
}

/*
.sidebar-toggle {
	position: fixed;
	font-size: 36px;
	cursor: pointer;
	top: 10px;
	right: 10px;
	z-index: 2;
	background-color: #ccc;
	width: 1em;
	visibility: hidden;
	transition: all .3s ease;
	opacity: 0;
}*/

#sidebar {
	border-left: 1px solid #ddd;
	padding-left: 35px;
	margin-top: 40px;
	padding-bottom: 20px;
	word-wrap: break-word;
}

#sidebar .widget {
	margin-bottom: 30px;
	/* tiered display categories */
}

#sidebar .widget .widget-title {
	color: #6e7173;
	line-height: 2.7;
	margin-top: 0;
	font-size: 16px;
	border-bottom: 1px solid #ddd;
	display: block;
	font-weight: normal;
}

#sidebar .widget .comments-title {
	color: #6e7173;
	line-height: 2.7;
	margin-top: 0;
	font-size: 16px;
	border-bottom: 0px solid #ddd;
	display: block;
	font-weight: normal;
}


#sidebar .widget ul {
	list-style: none;
	padding: 0;
}

#sidebar .widget ul li {
	margin: 5px 0;
	line-height: 1.5;
}

#sidebar .tree-sections>ul>li {
	margin: 0;
	list-style: none;
}

#sidebar .tree-sections ul ul li {
	margin-left: 10px;
	list-style: inside circle;
}

#sidebar .recent_post li {
	list-style: inside circle;
}

#sidebar .widget .search-form {
	position: relative;
	overflow: hidden;
}

#sidebar .widget .author-info {
	text-align: center;
}

#sidebar .widget .author-info a.info-avatar img {
	border-radius: 50%;
	padding: 4px;
	width: 96px;
	height: 96px;
	background-color: transparent;
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

#sidebar .widget .author-info a.info-icon {
	font-size: 25px;
}

#nav-toggle {
	display: none;
}

.nav-toggle {
	display: none;
	position: fixed;
	top: 1em;
	right: 1em;
	margin-right: 1em;
	width: 1em;
	height: 1em;
	cursor: pointer;
	z-index: 3;
}

.nav-toggle-inner {
	padding: 1em;
	display: inline-block
}

.nav-toggle span {
	display: block;
	position: absolute;
	height: 0.1em;
	width: 1.5em;
	background-color: #000;
	transition: all .5s
}

.nav-toggle span:nth-child(1) {
	top: 0.4em
}

.nav-toggle span:nth-child(2) {
	top: 0.7em
}

.nav-toggle span:nth-child(3) {
	top: 1em
}

.nav-toggle.open span:nth-child(1) {
	top: 75%;
	transform: rotate(225deg)
}

.nav-toggle.open span:nth-child(2) {
	width: 0;
	opacity: 0;
	transform: rotate(-135deg)
}

.nav-toggle.open span:nth-child(3) {
	top: 75%;
	transform: rotate(-45deg)
}

/*
.nav-curtain {
	display: none;
    height: 100vh;
    width: 100vw;
    -webkit-backdrop-filter: saturate(180%) blur(1em);
    backdrop-filter: saturate(180%) blur(1em);
    background: linear-gradient(90deg, rgba(247, 149, 51, 0.101961) 0, rgba(243, 112, 85, 0.101961) 15%, rgba(239, 78, 123, 0.101961) 30%, rgba(161, 102, 171, 0.101961) 44%, rgba(80, 115, 184, 0.101961) 58%, rgba(16, 152, 173, 0.101961) 72%, rgba(7, 179, 155, 0.101961) 86%, rgba(109, 186, 130, 0.101961) 100%) rgba(0, 0, 0, 0.5)
}
/*

/* tree-categories */
.tree {
	overflow: auto hidden;
	/* white-space: nowrap*/
}

.tree ul {
	padding-left: 2em;
	list-style: none;
}

.tree>ul {
	padding: 0
}

.list-categories>ul {
	padding: 0
}

.list-categories>li {
	position: relative
}

.list-categories>li:not(:first-child)::before,
.list-categories>li>ul>li::before {
	content: " ";
	position: absolute;
	top: 2.4em;
	left: 0.1em;
	width: 0.1em;
	height: calc(100% - 2.8em);
	background: hsl(240, 1%, 83%);
}


/* list */
.list-title {
	text-align: center;
}

.list-item-title {
	flex: 1;
	margin: 0 0.618em 0 1em;
	font-size: 1.2em;
	line-height: 1.5
}

.list-item-time {
	margin: 0 0.618em 0 2em;
	color: hsl(240, 1%, 48%);
	line-height: 1.5;
	font-size: 1.1em;
}

.list-item {
	line-height: 2;
	position: relative;
	transition: border .5s;
	border-bottom: 1px dashed hsl(240, 1%, 83%);
	margin-top: 1em;
	padding-bottom: 0.5em;
	display: flex;
	align-items: baseline
}

.list-item ::before {
	content: " ";
	position: absolute;
	left: 0;
	top: 0.618em;
	width: 5.33333333px;
	height: 5.33333333px;
	background: hsl(240, 1%, 83%);
	border-radius: 50%;
	border: 1px solid hsl(0, 0%, 100%);
	transition: background .5s;
	font-size: 1rem
}

.list-item:hover {
	border-bottom-color: hsl(220, 90%, 56%);
}

.list-item:hover ::before {
	background: hsl(220, 90%, 56%);
}

/* title for search result or tagged posts*/
.label-title {
	margin-top: 1.1em;
	font-size: 20px;
	font-weight: normal;
	color: #888;
}

.post {
	padding: 25px 0 15px;
}

.post .post-title {
	margin: 0;
	color: #555;
	text-align: left;
	font: bold 22.7272727273px "ff-tisa-web-pro", Cambria, "Times New Roman", Georgia, Times, sans-serif;
}

.post .post-title a {
	color: #555;
}

.post .post-title .top-post {
	font-weight: 400;
	height: 32px;
	padding: 0 6px;
	margin-right: 5px;
	line-height: 32px;
	font-size: 16px;
	white-space: nowrap;
	vertical-align: 2px;
	color: #fff;
	background-image: -webkit-linear-gradient(0deg, #3742fa 0, #a86af9 100%);
	border-radius: 2px 6px;
}

.post .post-meta {
	padding: 0;
	margin: 15px 0 0;
	color: #6e7173;
	float: left;
	display: inline;
	text-indent: 0.15em;
}

.post .post-meta:before {
	font-family: "FontAwesome";
	content: "\f073";
	padding-right: 0.3em;
}

.post .post-meta .category:before {
	font-family: "FontAwesome";
	content: "\f07c";
	padding-right: 0.3em;
}

.post .post-meta #busuanzi_value_page_pv:before {
	font-family: "FontAwesome";
	content: "\f024";
	padding-right: 0.3em;
}

.post .ds-thread-count {
	padding: 0;
	margin: 15px 0 0;
	color: #6e7173;
	float: right;
	display: inline;
	text-indent: 0.15em;
}

.post .ds-thread-count:before {
	font-family: "FontAwesome";
	content: "\f0e5";
	padding-right: 0.3em;
}

.post .ds-thread-count:hover {
	color: #444;
}

.post .disqus-comment-count {
	padding: 0;
	margin: 15px 0 0;
	color: #6e7173;
	float: right;
	display: inline;
	text-indent: 0.15em;
}

.post .disqus-comment-count:before {
	font-family: "FontAwesome";
	content: "\f0e5";
	padding-right: 0.3em;
}

.post .disqus-comment-count:hover {
	color: #444;
}

.post .post-content {
	clear: left;
	font-size: 15px;
	line-height: 1.77;
	color: #444;
	padding-top: 15px;
	/*text-align: justify; 文字向两侧对齐，对最后一行无效。*/
	/*text-justify: distribute; */
	word-break: normal;
}

.post .post-content h2 {
	margin: 1.4em 0 1.1em;
	border-bottom: 1px solid #eee;
	overflow: hidden;
}

.post .post-content h3 {
	margin: 1.4em 0 1.1em;
}

.post .post-content pre code {
	padding: 0 2em;
}

.post .post-content p {
	margin: 0 0 1.234em;
	word-break: break-word;
	overflow-wrap: break-word;
}

.post .post-content p code {
	display: inline-block;
	margin: 0 5px;
	padding: 0 5px;
	background: #f7f8f8;
	font-family: Menlo, Consolas, monospace !important;
}

.post .post-content p a {
	color: #01579f;
	padding-bottom: 2px;
	word-break: normal;
}

.post .post-content p a:hover {
	text-decoration: underline;
}

.post .post-content .caption {
	color: #444;
	display: block;
	font-size: 0.9em;
	margin-top: 0.1em;
	position: relative;
	text-align: center;
}

.post .post-content hr {
	margin: 2.4em auto;
	border: none;
	border-top: 1px solid #eee;
	position: relative;
}

.post .post-content img {
	max-width: 100%;
	padding: 0.5em 0;
	margin: auto;
	display: block;
}

.post .post-content ul,
.post .post-content ol {
	border-radius: 3px;
	margin: 1em 0;
}

.post .post-content ul ul,
.post .post-content ol ul {
	margin: 0;
}

.post .post-content ul code,
.post .post-content ol code {
	display: inline-block;
	margin: 0 5px;
	padding: 0px 5px;
	background: #f7f8f8;
	font-family: Menlo, Consolas, monospace !important;
}

.post .post-content ul a,
.post .post-content ol a {
	color: #01579f;
	padding-bottom: 2px;
	word-break: normal;
}

.post .post-content ul a:hover,
.post .post-content ol a:hover {
	text-decoration: underline;
}

.post .post-content .tagcloud {
	margin: 0 0 30px 0;
}

.post .post-content .tagcloud a {
	padding: 0px 5px;
	margin: 3px;
	display: inline-block;
	border: 1px solid #808080;
	border-radius: 999em;
	color: #aaa;
}

.post .post-content .tagcloud a:hover {
	color: #fff;
	border: 1px solid #808080;
	background: #808080;
}

.post .post-content .one-tag-list {
	margin: 30px 0;
}

.post .post-content .one-tag-list .tag-name .tag-text {
	margin-left: 5px;
	font-size: 16px;
	font-weight: bold;
}

.post .tags a {
	margin-right: 0.5em;
}

.post .tags a i {
	padding-right: 0.3em;
}

blockquote {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 40px;
	margin-inline-end: 40px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 2.5em 0;
	padding: 0 0 0 50px;
	color: #555;
	border-left: none;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-family: times;
	font-style: normal;
	font-size: 48px;
	color: #444;
	font-weight: bold;
	line-height: 30px;
	margin-left: -50px;
	position: absolute;
}

.page-navigator {
	border-top: 1px solid #ddd;
	list-style: none;
	margin-top: 25px;
	padding: 25px 0 0;
	font-size: 14px;
	text-align: center;
}

.page-navigator .page-number {
	display: inline-block;
	margin: 0 5px 5px 0;
}

.page-navigator a,
.page-navigator span {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding: 5px 9px;
	border: 1px solid #ddd;
	text-align: center;
}

.page-navigator a:hover,
.page-navigator span:hover {
	background: #f8f8f8;
	border-bottom-color: #d26911;
}

.page-navigator a.prev,
.page-navigator span.prev {
	float: left;
}

.page-navigator a.prev:before,
.page-navigator span.prev:before {
	font-family: "FontAwesome";
	content: "\f100";
	padding-right: 0.3em;
}

.page-navigator a.next,
.page-navigator span.next {
	float: right;
}

.page-navigator a.next:after,
.page-navigator span.next:after {
	font-family: "FontAwesome";
	content: "\f101";
	padding-left: 0.3em;
}

.page-navigator .current {
	background: #f8f8f8;
	border-bottom-color: #d26911;
}

.page-navigator .space {
	border: none;
	padding: 5px 5px;
}

/* back-to-top */
#back-to-top {
	position: fixed;
	bottom: 20px;
	left: 20px;
	display: block;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 50%;
	padding: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	z-index: 3;
	
}

.back-to-top::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
	width: 16px;
	height: 16px;
	border-top: 2px solid #000;
	border-left: 2px solid #000;
  }

#footer {
	padding: 0.8em 0 3.6em;
	margin-top: 1em;
	line-height: 2.5;
	color: #6e7173;
	text-align: center;
}

#footer span {
	font-size: 0.9em;
}

@media (max-width: 1024px) {
	.body_container {
		justify-content: start;
	}

	.main_container {
		filter: blur(0px);
	}

	.main_container.blur {
		filter: blur(5px);
	}

	.sidebar_container {
		position: absolute;
		padding: 5px;
		visibility: hidden;
		opacity: 0;
	}

	.sidebar_container.show {
		visibility: visible;
		opacity: 1;
	}

	.sidebar-toggle {
		visibility: visible;
		opacity: 1;
	}

	.toc-article {
		display: none;
	}

	.nav-toggle {
		display: block
	}

	.tree ul ul {
		padding-left: 1em;
	}

}

@media (max-width: 768px) {
	.body_container {
		padding: 0 5px;
		padding-left: 5px;
	}

	.main_container {
		padding-right: 5px;
		padding-left: 5px;
	}

	.content_container {
		padding-right: 5px;
		padding-left: 5px;
	}

	.hidden_mid_and_down {
		display: none !important;
	}

	#header .site-name {
		margin-bottom: 20px;
		text-align: center;
	}

	#header #nav-menu {
		position: relative;
		text-align: center;
	}

	#header #nav-menu a {
		padding: 0 15px;
		line-height: 27px;
		height: 27px;
		font-size: 13px;
	}

	#sidebar {
		padding-left: 10px;
	}

}

/* read more*/
.readmore a {
	font-size: 14px;
	color: #444;
	margin: -10px 0;
	padding: 5px 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	float: right;
}

.readmore a:after {
	font-family: "FontAwesome";
	content: "\f101";
	padding-left: 0.3em;
}

.readmore a:hover {
	background: #f8f8f8;
	border-bottom-color: #d26911;
}

/* toc*/
.toc-article {
	border-radius: 7px;
	width: 200px;
	margin-left: -240px;
	padding: 5px 10px;
	border: 1px solid rgba(0, 0, 0, .07);
	background-color: rgba(255, 255, 255, 0.98);
	background-clip: padding-box;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .125);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .125);
	word-wrap: break-word;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 1;
	cursor: pointer;
	max-height: 90vh;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	top: 188px;
	display: block;
}

.toc-title {
	font-size: 120%;
}

#toc {
	line-height: 1em;
	float: right;
}

#toc .toc {
	padding: 0;
	margin: 0.5em;
	line-height: 1.8em;
}

#toc .toc li {
	list-style-type: none;
}

#toc .toc-child {
	margin-left: 1em;
	padding-left: 0;
}

#TableOfContents ol {
	margin-left: 0;
	padding-left: 0;
	list-style: none;

}

#TableOfContents li {
	margin-left: 1em;
	padding-left: 0;
	list-style: none;
}


/* table*/
.table-container {
	width: 100%;
	max-width: 100%;
	overflow-x: auto;
}

table {
	border: 1px solid #dedede;
	/*表格外边框设置*/
	margin: 15px auto;
	/*外边距*/
	border-collapse: collapse;
	/*使用单一线条的边框*/
	empty-cells: show;
	/*单元格无内容依旧绘制边框*/
	/*table-layout: fixed;	 automatic：默认，由内容决定列宽； fixedd:平均列宽，*/
	text-align: left;
	float: left;
}

table th {
	font-size: 90%;
	font-weight: bold;
	/*加粗*/
	text-align: center !important;
	/*内容居中，加上 !important 避免被 Markdown 样式覆盖*/
	border: 1px solid #dedede;
	/*内部边框样式*/
	background: rgba(158, 188, 226, 0.2);
	/*背景色*/
}

table td {
	white-space: nowrap;
	font-size: 90%;
	border: 1px solid #dedede;
	/*内部边框样式*/
	padding: 5px 10px;
	/*内边距*/
}

table tr {
	/*隔行变化*/
}

table tr:nth-child(2n) {
	background: #f7f8f8;
}

.github-badge {
    display: inline-block;
    border-radius: 4px;
    text-shadow: none;
    font-size: 12px;
    color: #fff;
    line-height: 1.25;
    background-color: #ABBAC3;
    margin-bottom: 5px; 
}
.github-badge a {
  color: #fff; 
}
.github-badge img {
  /*height: "calc(%s * 1.25)" % $fontsize-footnote*/
  height: 1.25em;
  vertical-align: top; 
}
.github-badge .badge-subject {
  display: inline-block;
  background-color: #555;
  padding: 4px 4px 4px 6px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; 
}
.github-badge .badge-value {
  display: inline-block;
  padding: 4px 6px 4px 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; 
}
.github-badge .bg-brightgreen {
  background-color: #4c1 !important; 
}
.github-badge .bg-green {
  background-color: #97ca00 !important; 
}
.github-badge .bg-yellowgreen {
  background-color: #a4a61d !important; 
}
.github-badge .bg-orange {
  background-color: #FE7D37 !important; 
}
.github-badge .bg-yellow {
  background-color: #dfb317 !important; 
}
.github-badge .bg-blueviolet {
  background-color: #8A2BE2 !important; 
}
.github-badge .bg-pink {
  background-color: #FFC0CB !important; 
}
.github-badge .bg-red {
  background-color: #e05d44 !important; 
}
.github-badge .bg-blue {
  background-color: #007EC6 !important; 
}
.github-badge .bg-grey,.github-badge .bg-gray {
  background-color: #555 !important; 
}
.github-badge .bg-lightgrey,.github-badge .bg-lightgray {
  background-color: #9f9f9f !important; 
}
  